<section class="section hero py-3">
  <div class="container">
    <div class="row flex-column flex-xl-row-reverse">
      <div class="col-12 col-xl-6  d-flex flex-column justify-content-center hero-image">
          {{ with resources.Get "images/hero-image.jpg" }}
          <span class="faded faded-wide faded-all">
          <img class="img-fluid" src="{{ .Permalink }}" alt="{{ .Title }}" width="{{ .Width }}" height="{{ .Height }}">
          </span>
          {{ end }}
      </div>
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
        {{ with .content.title }}
          <h3 class="hero-title fw-bold display-4 text-primary text-center text-xl-start pb-4">{{ . | markdownify }}</h3>
        {{ end }}
        {{ with .content.text }}
          <div class="text-black-61 pb-0 fs-5">{{ . | markdownify }}</div>
        {{ end }}
        <div class="d-flex flex-column flex-xl-row">
          {{ with .content.buttonPrimary }}
            <a class="btn btn-primary text-light px-4 my-1" href="{{ .url }}">{{ .label }}</a>
          {{ end }}
          {{ with .content.buttonSecondary }}
            <a class="btn btn-outline-primary px-4 my-1 ms-xl-4" href="{{ .url }}">{{ .label }}<span class="ms-2">{{ partial "icons/arrow-right.html" }}</span></a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
