{{ define "main" }}
  {{ with .Site.Data.home.hero }}{{ partial "sections/hero.html" . }}{{ end }}
  {{ with .Site.Data.home.announces }}{{ if .enabled }}{{ partial "sections/announces.html" . }}{{ end }}{{ end }}
  {{ with .Site.Data.home.projects }}{{ partial "sections/projects.html" . }}{{ end }}
  {{ with .Site.Data.home.brands }}{{ if .enabled }}{{ partial "sections/brands.html" . }}{{ end }}{{ end }}
  {{ with .Site.Data.home.testimonials }}{{ if .enabled }}{{ partial "sections/testimonials.html" . }}{{ end }}{{ end }}
  {{ with .Site.Data.home.cta }}{{ if .enabled }}{{ partial "sections/cta.html" . }}{{ end }}{{ end }}
{{ end }}
